
h1{
    color:rgb(12, 51, 63);
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    padding: 20px;
}
img.bloque{
    height: 200px;

}
.bloque1{
    background-color: aquamarine;
}
.bloque2{
    background-color: rgb(228, 155, 247);
}
.bloque3{
    background-color: rgb(118, 170, 144);
}