.contenedor-principal{
    width: 1000px;
    margin: auto;
}
.contenedores{
    margin-left: 90px;
    width: 700px;
    height: 600px;
    display: flex;
}
.contenedor-segundo{
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: 600px;
}
.SC{
    border: 2px solid black;
    margin-bottom: 20px;
    width: 500px;
    height: 160px;
}
.SC p{
    margin-left: 20px;
    font-size: 20px;
}
.SC a{
    color: rgb(27, 110, 187);
}
.SCB{
    display: flex;
    margin-left: 20px;
    align-items: center;
    font-size: 18px;
}
.SCB p{
    margin-left: 200px;
}
.SCB button{
    margin-left: 20px;
    width: 80px;
    height: 40px;
    background-color: #FFD966;
}