*{
    padding: 0;
    margin: 0;
}
.primer-contenedor{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);  
}

.redes-IMG{
    padding-left: 5px;
}
.navegacion{
    background-color: #FFFFFF;
    display: flex;
}
.nav{
    display: flex;
    padding: 10px 0px;
    flex: 1;
    font-size: 13px;
    padding-left: 150px;  
}
.ftitulo{
    display: flex;
}
.ftitulo h1{
    padding-bottom: 1px ;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.ftitulo P{
    padding-top: 15px ;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.nav img{
    height: 60px;
    width: 100px;
}
.navegacion2{
    flex: 1;
    align-items: center;
    margin-left: 380px;
    display: flex;
}
.navegacion2 h3{
    margin-left: 30px;
    font-size: 17px;
}
.boton{
    margin-left: 30px;
    margin-bottom: 5px;
}
.boton button{
    background-color: #b3d5fc;
    border-radius: 60px;
    width: 100px;
    height: 35px;
}
.contact{
    padding: 7px 16px;
    margin-left: 30px;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}
.menu{
    display: flex;
    height: 500px;
    background-color: #69a9f1;
}
.menu img{
    width: 1950px;
    height: 500px;
}
.segundo-contenedor{
    margin-left: 158px;
    width: 1550px;
    height: 245px;
    display: flex;
}
.tabla1{
    width: 1550px;
    height: 330px;
    margin-top: 15px;

}
.tabla1 h2{
   margin-top: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif;
   padding-left: 10px;
   padding-bottom: 5px;
   font-weight: bold;
}
.tabla1 p{
    font-size: 19px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}
.pparrafo{
    width: 1300px;
    height: 180px;
    background-color: white;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    border-left: 2px solid black ;
}
.pimg{
    margin-top: 74px;
    height: 180px;
    width: 300px;
    background-color: white;
    border-top: 2px solid black ;
    border-bottom: 2px solid black ;
    border-right: 2px solid black ;
}
.pimg img{
    height: 170px;
    width: 290px;
    padding-right: 2px;
}

.tercer-contenedor{
    margin-left: 158px;
    width: 1590px;
    height: 500px;
    display: flex;
}
.tabla2{
    width: 1590px;
    height: 630px;
}
.stitulo{
    width: 1590px;
    height: 55px;
    
}
.stitulo h2{
    padding-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.stablas{
    display: flex;
    width: 1590px;
    height: 690px;
    display: flex;
}
.stabla1{
    width: 385px ;
    height: 400px;
    background-color: aquamarine;
    margin-right: 15px;
    margin-left: 2px;
}
.stabla2{
    width: 385px ;
    height: 400px;
    background-color: aquamarine;
    margin-right: 15px;
}
.stabla3{
    width: 385px ;
    height: 400px;
    background-color: aquamarine;
    margin-right: 15px;
}
.stabla4{
    width: 385px ;
    height: 400px;
    background-color: aquamarine; 
    margin-right: 15px;
}
.stabla5{
    width: 385px ;
    height: 400px;
    background-color: aquamarine; 
}
.cuarto-contenedor{
    margin-left: 158px;
    width: 1590px;
    height: 690px;
    display: flex;
}
.tabla3{
    width: 1590px;
    height: 630px;
}

.ttablas{
    display: flex;
    width: 1590px;
    height: 690px;
    display: flex;
}
.ttabla1{
    width: 385px ;
    height: 400px;
    background-color: aquamarine;
    margin-right: 15px;
    margin-left: 2px;
}
.ttabla2{
    width: 385px ;
    height: 400px;
    background-color: aquamarine;
    margin-right: 15px;
}
.ttabla3{
    width: 385px ;
    height: 400px;
    background-color: aquamarine;
    margin-right: 15px;
}
.ttabla4{
    width: 385px ;
    height: 400px;
    background-color: aquamarine; 
    margin-right: 15px;
}
.ttabla5{
    width: 385px ;
    height: 400px;
    background-color: aquamarine; 
}